<section class="container-fluid mt-5">
  <div class="row mb-3">
    <div class="col-12">
      <div class="input-group mb-3 rounded-pill green-border">
        <span
          class="input-group-text bg-white border border-0 rounded-start-pill"
        >
          <mat-icon class="search-icon">search</mat-icon>
        </span>
        <input
          type="text"
          class="form-control border border-0 rounded-end-pill"
          placeholder="Em qual bairro você quer alugar"
          value="Moema"
        />
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
  <div class="imgImovel">
    <img src="../../assets/images/1.png" alt="Moema" class="img-fluid" />
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="descricaoImovel my-3 d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold">R$ 3.800,00</span>
            <span class="fw-medium">140 m<sup class="exponente">2</sup></span>
          </div>
          <div class="localizacao my-3">
            3 dormitórios, 1 suíte, varanda gourmet, 2 vagas na garage, piscina,
            playground e cinema.
          </div>
          <div class="d-flex">
            <span class="pin">
              <mat-icon>location_on</mat-icon>
            </span>
            <span class="endereco fw-light mt-1"> Moema - SP </span>
          </div>
          <div class="d-flex justify-content-between"></div>
        </div>
      </div>
      <div class="col-6">
            <button mat-button class="blackButton w-100 mb-4" (click)="irParaGarantia()">Alugar</button>
      </div>
      <div class="col-4 offset-2">
        
          <img src="../../assets/images/contatos.png" class="img-fluid" alt="">
        
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
    <div class="imgImovel">
      <img src="../../assets/images/2.png" alt="Moema" class="img-fluid" />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="descricaoImovel my-3 d-flex flex-column">
            <div class="d-flex justify-content-between">
              <span class="fw-bold">R$ 4.500,00</span>
              <span class="fw-medium">150 m<sup class="exponente">2</sup></span>
            </div>
            <div class="localizacao my-3">
              3 dormitórios, 2 suíte, varanda gourmet, 2 vagas na garage, piscina,
              playground e cinema.
            </div>
            <div class="d-flex">
              <span class="pin">
                <mat-icon>location_on</mat-icon>
              </span>
              <span class="endereco fw-light mt-1"> Moema - SP </span>
            </div>
            <div class="d-flex justify-content-between"></div>
          </div>
        </div>
        <div class="col-6">
              <button mat-button class="blackButton w-100 mb-4" (click)="irParaGarantia()">Alugar</button>
        </div>
        <div class="col-4 offset-2">
          
            <img src="../../assets/images/contatos.png" class="img-fluid" alt="">
          
        </div>
      </div>
    </div>
  </section>
<section class="mb-4">
    <div class="imgImovel">
      <img src="../../assets/images/3.png" alt="Moema" class="img-fluid" />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="descricaoImovel my-3 d-flex flex-column">
            <div class="d-flex justify-content-between">
              <span class="fw-bold">R$ 3.300,00</span>
              <span class="fw-medium">110 m<sup class="exponente">2</sup></span>
            </div>
            <div class="localizacao my-3">
              3 dormitórios, 1 suíte, 2 vagas na garage, piscina,
              playground e cinema.
            </div>
            <div class="d-flex">
              <span class="pin">
                <mat-icon>location_on</mat-icon>
              </span>
              <span class="endereco fw-light mt-1"> Moema - SP </span>
            </div>
            <div class="d-flex justify-content-between"></div>
          </div>
        </div>
        <div class="col-6">
              <button mat-button class="blackButton w-100 mb-4" (click)="irParaGarantia()">Alugar</button>
        </div>
        <div class="col-4 offset-2">
          
            <img src="../../assets/images/contatos.png" class="img-fluid" alt="">
          
        </div>
      </div>
    </div>
  </section>
 