<section class="container-fluid mt-5">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <img src="../../assets/images/garantia.png" alt="" />
      <p class="fw-bold mb-0">Selecione uma garantia</p>
      <p class="desk">Seu aluguel pode reduzir até 30%</p>
    </div>
  </div>

  <form class="text-center">
    <mat-form-field class="w-100 rounded-select">
      <mat-label>Selecione sua garantia</mat-label>
      <mat-select>
        <mat-option value="opcao1">Cripto Titulo</mat-option>
        <mat-option value="opcao2">Seguro Fiança</mat-option>
        <mat-option value="opcao3">Sem Garantia</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button class="blackButton w-100 mb-4">Selecionar Garantia</button>
    <button mat-button class="outLineButtom w-100" (click)="irParaCalculadoraGarantias()">Calcular desconto</button>
  </form>
</section>