<section class="container-fluid mt-5">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <img src="../../assets/images/logo-cripto.png" alt="" />
    </div>
  </div>

  <form class="formLogin">

      <mat-form-field class="w-100 _mb-0">        
        <input matInput placeholder="E-mail" />
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput placeholder="Senha" />
      </mat-form-field>
      
    <button mat-button class="blackButton w-100 mb-2">
      Avançar
    </button>
    <button mat-button class="outLineButtom w-100">
        Primeiro acesso
    </button>
  </form>
</section>
