<!-- Adicione no seu componente.html -->
<nav class="menu">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button routerLink="/">
        <mat-icon class="colorBlack">home</mat-icon>
      </button>
      <button mat-icon-button routerLink="#">
        <mat-icon class="colorBlack">search</mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        routerLink="#"
        class="custom-green-button colorBlack"
        routerLinkActive="active-link"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button routerLink="#">
        <mat-icon class="colorBlack">notifications</mat-icon>
      </button>
      <button mat-icon-button routerLink="#">
        <mat-icon class="colorBlack">person</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="borderBottom"></div>
</nav>
