.menu {
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  .custom-green-button {
    background-color: #69983b;
    
    .mat-icon{
      color: #ffffff;
    }
  }

  .mat-toolbar-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .borderBottom {
    width: calc(100vw - 70%);
    height: 4px;
    background-color: #000;
    border-radius: 10px;
    margin: 10px auto 0 auto;
  }

  .mat-toolbar {
    background: none !important;
  }
  .colorBlack {
    color: #000000;
  }
}
