<!-- Adicione no seu componente.html -->
<nav class="menu">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button routerLink="#">
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        routerLink="#"
        class="custom-green-button"
        routerLinkActive="active-link"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button routerLink="#">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button routerLink="#">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="borderBottom"></div>
</nav>
