<section class="header p-2">
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="col-1">
          <a mat-button routerLink=".." class="back-link">
            <mat-icon
              aria-hidden="false"
              aria-label="Voltar"
              fontIcon="chevron_left"
              class="icon_chevron_left"
            ></mat-icon>
          </a>
        </div>
        <div class="col-10">
          <div class="innerHeader d-flex text-center flex-column">
            <div class="goToHome" routerLink="/">
              <h1 class="mb-0">Viva Andar</h1>
              <h2 class="subTitle">imobiliária Digital</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
